.content {
  background-color: black;
  box-shadow: 0 10px 10px rgba(255, 215, 0, 0.7); /* Gold shadow */
  color: rgba(255, 215, 0, 0.7);
  font-family: "Georgia", serif; /* Example of a stylish font */
  font-weight: bold;
  border: 2px solid gold; /* Golden border */
  border-top: none;
  border-radius: 0px 100px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1.6fr 1fr;
  overflow: hidden;
}

/* Responsive design for .content */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr; /* Full width in mobile view */
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px;
  font-family: "Georgia", serif; /* Stylish font */
  color: rgba(255, 215, 0, 0.7); /* Gold color */
}

.softacademyparagraph {
  width: 60%; /* Adjust width */
  margin: 20px;
  margin-left: 30px; /* Center the paragraph */
  text-align: justify; /* Distribute text evenly across the line */
  line-height: 1.6; /* Better readability */
  font-family: "Georgia", serif; /* Stylish font */
  font-size: 1.2rem; /* Adjust font size */
  color: rgba(255, 215, 0, 0.7); /* Gold color */
}

/* Responsive design for .softacademyparagraph */
@media (max-width: 768px) {
  .softacademyparagraph {
    width: 90%; /* Expand for better mobile readability */
    margin-left: 5%; /* Adjust centering */
  }
}

.logo {
  width: 100%;
  height: 100%;
  margin-right: 20px;
}
