.logo {
  border: 3px solid rgba(255, 215, 0, 0.7); /* Golden border */
  box-shadow: 0 10px 10px rgba(255, 215, 0, 0.7); /* Gold shadow */
  border-radius: 70px 20px;
  color: rgba(255, 215, 0, 0.7);
  transition: transform 0.3s ease-in-out; /* Smooth scale transition */
  z-index: 0;
}

p {
  color: rgba(255, 215, 0, 0.7); /* Gold text color */
  font-family: "Georgia", serif; /* Stylish font */
  font-size: 1rem; /* Adjusted font size for better readability */
  margin: 10px 0;
}

.container {
  color: rgba(255, 215, 0, 0.7); /* Gold text for the container */
  padding: 20px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(255, 215, 0, 0.7); /* Gold shadow */
}

/* Add hover effect for the logo */
.logo:hover {
  transform: scale(1.05); /* Slightly enlarge logo on hover */
}

/* Responsive adjustments for mobile view */
@media (max-width: 768px) {
  .logo {
    width: 450px; /* Adjust logo size for mobile */
    height: 250px;
    margin: 0 auto; /* Center logo on mobile */
  }

  p {
    font-size: 0.9rem; /* Slightly smaller text size for mobile */
    text-align: justify; /* Align text for better readability on small screens */
    margin: 10px 5px; /* Adjust margin for mobile */
  }

  .container {
    padding: 10px; /* Less padding for mobile */
    border-radius: 10px;
  }
}
